<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>/{{ board_info.board_uri }}/ - {{ thread_id }} | Tupibooru</title>

    <link rel="stylesheet" href="../../static/css/midnight.css">
    <!--<link rel="stylesheet" href="../../static/css/custom/midday.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <header>
            <a href="index_example.html"><img class="header-logo" src="var(--lo-img)" alt="Tupibooru"></a>
            {% include 'utils/theme-changer.html' %}
            {% include 'utils/navbar.html' %}
        </header>
        <main class="thread-main">
            <div class="page-content">
                {% include 'utils/thread-posts.html' %}
            </div>

            {% include 'utils/new-thread_box.html' %}
        </main>
        {% include 'utils/footer.html' %}
        {% include 'utils/popups.html' %}
        {% include 'utils/scripts/thread-scripts.html' %}
</body>

</html>