<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ username }} | Tupibooru</title>

    <link rel="stylesheet" href="../../static/css/midnight.css">
    <!--<link rel="stylesheet" href="../../static/css/custom/midday.css">-->
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />

</head>

<body>
    <div class="container">
        <header>
            <a href="index_example.html"><img class="header-logo" src="var(--lo-img)" alt="Tupibooru"></a>
            {% include 'utils/theme-changer.html' %}
            {% include 'utils/navbar.html' %}
        </header>
        <main class="board-main">
            <div class="page-content">
                <div class="user-profile">
                    <div class="profile-window">
                        <div class="profile-content">
                            <div class="profile-picture editable">
                                <button class="avatar">
                                    <img src="../../static/imgs/decoration/anon.png" alt="">
                                </button>
                            </div>
                            <div class="account-info">
                                <div class="account-username">
                                    <p>Nome de Usuário</p>
                                    <div class="setting" tabindex="0">
                                        <button class="settings">
                                            <span class="material-symbols-outlined">
                                                manage_accounts
                                            </span>
                                        </button>
                                        <div class="settings-dropdown">
                                            <button class="default-button manage">
                                                Painel ADM
                                            </button>
                                            <button class="default-button warn">
                                                Advertir Usuário
                                            </button>
                                            <button class="default-button ban">
                                                Banir Usuário
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <div class="account-badges">
                                    <div class="badge supporter">Apoiador</div>
                                    <div class="badge pioneer">Pioneiro</div>
                                    <div class="badge mod">Mod. Geral</div>
                                    <div class="badge mod">Mod. de /bo/</div>
                                    <div class="badge admin">Administrador</div>
                                </div>
                                <div class="account-date">
                                    <p>Membro desde:</p>
                                    <p>Data</p>
                                </div>
                            </div>
                        </div>
                        <div class="profile-description">
                            <p>Inserir descrição...</p>
                        </div>
                    </div>
                    <div class="profile-bar">
                        <button class="default-button block">
                            <span class="material-symbols-outlined">
                                visibility_off
                            </span>
                            Bloquear
                        </button>
                        <button class="default-button report">
                            <span class="material-symbols-outlined">
                                warning
                            </span>
                            Denunciar
                        </button>
                    </div>
                </div>
                <div class="comment-type">
                    <div class="comment-picture">
                        <img src="../../static/imgs/decoration/anon.png" alt="">
                    </div>
                    <div class="comment-input">
                        <form action="">
                            <textarea name="" id="" rows="1" placeholder="Comentar..." maxlength="500"></textarea>
                            <button class="default-button">
                                <span class="material-symbols-outlined">
                                    edit
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
                <div class="comment-post">
                    <section class="comment-original">
                        <div class="comment-picture">
                            <img src="../../static/imgs/decoration/anon.png" alt="">
                        </div>
                        <div class="comment-content">
                            <div class="comment-bar">
                                <p class="comment-username">Nome de Usuário</p>
                                <p class="comment-timestap">há 2 horas</p>
                            </div>
                            <div class="comment-text">
                                <p>
                                    Esse é um exemplo de comentário com três linhas. <br>
                                    Comentários possuem um limite de 500 caracteres. <br>
                                    Imitei o youtube no estilo.
                                </p>
                            </div>
                            <div class="comment-button">
                                <button class="default-button">
                                    Responder
                                </button>
                                <div class="reply-type">
                                    <form action="">
                                        <textarea name="" id="" rows="1" placeholder="Comentar..."
                                            maxlength="500"></textarea>
                                        <div class="reply-buttons">
                                            <button class="default-button">Responder</button>
                                            <button class="default-button cancel" type="button">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="comment-options" tabindex="0">
                            <button class="default-button">
                                <span class="material-symbols-outlined">
                                    more_vert
                                </span>
                            </button>
                            <div class="comments-dropdown">
                                <button class="default-button pin">
                                    <span class="material-symbols-outlined">
                                        keep
                                    </span>Fixar no topo
                                </button>
                                <button class="default-button delete">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>Remover
                                </button>
                                <button class="default-button block">
                                    <span class="material-symbols-outlined">
                                        visibility_off
                                    </span>
                                    Bloquear
                                </button>
                                <button class="default-button report">
                                    <span class="material-symbols-outlined">
                                        warning
                                    </span>Denunciar
                                </button>
                            </div>
                        </div>
                    </section>

                    <section class="comment-reply">
                        <div class="comment-picture">
                            <img src="../../static/imgs/decoration/anon.png" alt="">
                        </div>
                        <div class="comment-content">
                            <div class="comment-bar">
                                <p class="comment-username">Nome de Usuário</p>
                                <p class="comment-timestap">há 1 hora</p>
                            </div>
                            <div class="comment-text">
                                <p>
                                    Esse é um exemplo de comentário de resposta. <br>
                                    Ele possui um padding maior para a esquerda, parecendo algo indentado. <br>
                                </p>
                            </div>
                            <div class="comment-button">
                                <button class="default-button">
                                    Responder
                                </button>
                                <div class="reply-type">
                                    <form action="">
                                        <textarea name="" id="" rows="1" placeholder="Comentar..."
                                            maxlength="500"></textarea>
                                        <div class="reply-buttons">
                                            <button class="default-button">Responder</button>
                                            <button class="default-button cancel" type="button">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="comment-options" tabindex="0">
                            <button class="default-button">
                                <span class="material-symbols-outlined">
                                    more_vert
                                </span>
                            </button>
                            <div class="comments-dropdown">
                                <button class="default-button pin">
                                    <span class="material-symbols-outlined">
                                        keep
                                    </span>Fixar no topo
                                </button>
                                <button class="default-button delete">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>Remover
                                </button>
                                <button class="default-button block">
                                    <span class="material-symbols-outlined">
                                        visibility_off
                                    </span>
                                    Bloquear
                                </button>
                                <button class="default-button report">
                                    <span class="material-symbols-outlined">
                                        warning
                                    </span>Denunciar
                                </button>
                            </div>
                        </div>
                    </section>
                </div>

                <div class="comment-post">
                    <section class="comment-original">
                        <div class="comment-picture">
                            <img src="../../static/imgs/decoration/anon.png" alt="">
                        </div>
                        <div class="comment-content">
                            <div class="comment-bar">
                                <p class="comment-username">Nome de Usuário</p>
                                <p class="comment-timestap">há 3 horas</p>
                            </div>
                            <div class="comment-text">
                                <p>
                                    Esse é outro comentário, de uma linha só, porém mais longo, diferente dos demais,
                                    esse tipo de coisa.
                                </p>
                            </div>
                            <div class="comment-button">
                                <button class="default-button">
                                    Responder
                                </button>
                                <div class="reply-type">
                                    <form action="">
                                        <textarea name="" id="" rows="1" placeholder="Comentar..."
                                            maxlength="500"></textarea>
                                        <div class="reply-buttons">
                                            <button class="default-button">Responder</button>
                                            <button class="default-button cancel" type="button">Cancelar</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                        <div class="comment-options" tabindex="0">
                            <button class="default-button">
                                <span class="material-symbols-outlined">
                                    more_vert
                                </span>
                            </button>
                            <div class="comments-dropdown">
                                <button class="default-button pin">
                                    <span class="material-symbols-outlined">
                                        keep
                                    </span>Fixar no topo
                                </button>
                                <button class="default-button delete">
                                    <span class="material-symbols-outlined">
                                        delete
                                    </span>Remover
                                </button>
                                <button class="default-button block">
                                    <span class="material-symbols-outlined">
                                        visibility_off
                                    </span>
                                    Bloquear
                                </button>
                                <button class="default-button report">
                                    <span class="material-symbols-outlined">
                                        warning
                                    </span>Denunciar
                                </button>
                            </div>
                        </div>
                    </section>
                </div>
            </div>
            <aside>
                <section>
                    <div class="side-title">
                        <p>Situação de Perfil</p>
                        <button class="default-button minimize">
                            <span class="material-symbols-outlined">
                                keyboard_arrow_up
                            </span>
                        </button>
                    </div>
                    <div class="side-content">
                        <div class="warns">
                            <div class="slot"><img src="../../static/imgs/decoration/badges/warn-noob.png" alt=""></div>
                            <div class="slot"><img src="../../static/imgs/decoration/badges/warn-porn.png" alt=""></div>
                            <div class="slot"><img src="../../static/imgs/decoration/badges/warn-spam.png" alt=""></div>
                            <div class="slot"><img src="../../static/imgs/decoration/badges/warn-dumb.png" alt=""></div>
                        </div>
                    </div>
                </section>
                <section>
                    <div class="side-title">
                        <p>Painel do Administrador</p>
                        <button class="default-button minimize">
                            <span class="material-symbols-outlined">
                                keyboard_arrow_up
                            </span>
                        </button>
                    </div>
                    <div class="side-content cases">
                        <div class="case">
                            <button class="default-button review">
                                <span class="material-symbols-outlined">
                                    visibility
                                </span>
                            </button>
                            <p>Caso #1 - Nome de Usuário</p>
                        </div>
                        <div class="case">
                            <button class="default-button review">
                                <span class="material-symbols-outlined">
                                    visibility
                                </span>
                            </button>
                            <p>Caso #2 - Nome de Usuário</p>
                        </div>
                    </div>
                </section>
            </aside>
        </main>
        {% include 'utils/footer.html' %}
        {% include 'utils/popups.html' %}
        {% include 'utils/scripts/profile-scripts.html' %}
    </div>
</body>

</html>