<footer>
    <section>
        <div class="footer-socials">
            <a href=""><img class="footer-logo" alt="Tupibooru"></a>
        </div>
        <div class="footer-copyright">
            <p>Baseado na engine do&nbsp;<a href="https://github.com/lainsec/rchan" target="_blank">rchan.</a>
            </p>
            <p>© 2025 Rede Autumn.</p>
        </div>
    </section>
    <section>
        <div class="footer-extras">
            <p class="footer-title">Sobre</p>
            <a href="faq_example.html">F.A.Q</a>
            <a href="rules_example.html">Regras</a>
        </div>
    </section>
</footer>