<nav class="navbar">
    <ul>
        <li><a href="">/bo/ - Boteco</a></li>
        <li><a href="">/an/ - Animangá</a></li>
        <li><a href="">/tv/ - Filmes e Séries</a></li>
        <li><a href="">/cri/ - Criações</a></li>
        <li><a href="">/pc/ - Computarias</a></li>
        <li><a href="">/flb/ - Faria Lima Bets</a></li>

        <li tabindex="0" style="display: none;">
            <a>Outros</a>
            <ul class="others-dropdown">
                <li><a href="">/bo/ - Boteco</a></li>
                <li><a href="">/an/ - Animangá</a></li>
                <li><a href="">/tv/ - Filmes e Séries</a></li>
                <li><a href="">/cri/ - Criações</a></li>
            </ul>
        </li>
        <li tabindex="0">
            <a>Conta</a>
            <div class="dropdown login-dropdown">
                <p>Login</p>
                <form action="">
                    <div>
                        <span class="material-symbols-outlined">
                            mail
                        </span>
                        <input type="email" placeholder="Usuário ou Email">
                    </div>
                    <div>
                        <span class="material-symbols-outlined">
                            key
                        </span>
                        <input type="password" placeholder="Senha">
                    </div>
                    <button type="submit">Logar-se<span class="material-symbols-outlined">
                            login
                        </span></button>
                </form>
                <div><a href="">Esqueceu a senha?</a>•<a href="register_example.html">Crie uma conta</a>
                </div>
            </div>
        </li>
    </ul>
</nav>

<nav class="navbar-mobile">
    <section>
        <button class="default-mb mobile-menu">
            <span class="material-symbols-outlined">
                menu
            </span>
        </button>
        <aside class="nav-menu">
            <ul>Menu de Boards
                <li><a href="">/bo/ - Boteco</a></li>
                <li><a href="">/an/ - Animangá</a></li>
                <li><a href="">/tv/ - Filmes e Séries</a></li>
                <li><a href="">/cri/ - Criações</a></li>
                <li><a href="">/pc/ - Computarias</a></li>
                <li><a href="">/flb/ - Faria Lima Bets</a></li>
            </ul>
        </aside>
    </section>
    <section class="dropdown-menu">
        <button class="default-mb">
            <img class="dropdown-logo" alt="">
            <span class="material-symbols-outlined">
                keyboard_arrow_down
            </span>
        </button>
        <div class="dropdown">
            <div>
                <a href="">
                    <span class="material-symbols-outlined">
                        home
                    </span>Homepage
                </a>
            </div>
            {% if board_info %}
            <div>
                <a href="">
                    <span class="material-symbols-outlined">
                        view_list
                    </span>Catálogo - /{{ board_info.board_uri }}/
                </a>
            </div>
            <div>
                <button class="post">
                    <span class="material-symbols-outlined">
                        add
                    </span>Criar Post
                </button>
            </div>
            {% endif %}
        </div>
    </section>
</nav>