/* Root */

:root {
    --ui-bg: #e5e7eb;
    --ui-ht: #2c2e31;
    --ui-tc: #1a202c;

    --ui-c1: #fff;
    --ui-c2: #d2e3f0;
    --ui-c3: #dcdcdc;
    --ui-c4: #f5f5f5;

    --ui-ac: #5682d5;
    --ui-cc: #966fd6;

    --ui-u1: #e4443b;
    --ui-u2: #f5bf60;

    --he-img: url(../imgs/banners/Noon.png);
    --lo-img: url(../imgs/decoration/logos/hn-logo.png);

    --ad-ts: url(../imgs/ads/ad-test.png);
    --ad-mg: url(../imgs/ads/ad-cri.png);
}

.login-dropdown form div:focus-within input {
    color: var(--ui-ht);
}

.register-page form div:focus-within input {
    color: var(--ui-ht);
}

.register-page form div:focus-within .material-symbols-outlined {
    color: var(--ui-ht);
}

.popup-context.captcha:focus-within input {
    color: var(--ui-ht);
}

.popup-context.captcha:focus-within .material-symbols-outlined {
    color: var(--ui-ht);
}

.index-title {
    outline: 0.063rem solid var(--ui-ht);
}

.board-ad {
    outline: 0.063rem solid var(--ui-ht);
}

.board-ad a {
    color: var(--ui-bg);
}

.text-ad {
    outline: 0.063rem solid var(--ui-ht);
}

article {
    border: 0.063rem solid var(--ui-ht);
}

.post-bar {
    outline: 0.063rem solid var(--ui-ht);
}

.post-profile div {
    background-image: url(../../imgs/decoration/anon.png);
}

.bump {
    color: var(--ui-ht);
}

button.button-active.bump {
    background-color: var(--ui-ac) !important;
}

.sage {
    color: var(--ui-ht);
}

button.button-active.sage {
    background-color: var(--ui-cc) !important;
}

.reply-bar .reply-profile div {
    background-image: url(../../imgs/decoration/anon.png);

    outline: 0.063rem solid var(--ui-ht);
}

/* Main - Index */

.index-post {
    border: 0.063rem solid var(--ui-ht);
}

/* Main - Profile */

.user-profile {
    border: 0.063rem solid var(--ui-ht);
}

.comment-type {
    border: 0.063rem solid var(--ui-ht);
}

/* Sidebar */

.desktop-menu {
    outline: 0.063rem solid var(--ui-ht);
}

.desktop-menu section .side-title {
    outline: 0.063rem solid var(--ui-ht);
}

/* Footer */

footer {
    background-image: linear-gradient(270deg,rgba(52,144,198,.175),rgba(30,150,220,.12));

    outline: 0.063rem solid var(--ui-ht);
}

/* Popups */

dialog {
    outline: 0.063rem solid var(--ui-ht);
}

dialog .popup-context:focus-within textarea {
    color: var(--ui-ht);
}

.profile-bar {
    outline: 0.063rem solid var(--ui-ht);
}