<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../static/css/midnight.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
    <main>
        <img class="error" src="../../static/imgs/decoration/404.png" alt="">
        <div class="default-window">
            <p> Whoops! Página não encontrada </p>
            <p> A página neste endereço não existe. </p>
        </div>
        <button class="underline-button return" onclick="window.history.go(-1); return false;">
            Fuck, go back!
        </button>
    </main>
</body>

</html>