<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../static/css/midnight.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>

<body>
    <header>
        <a href="index_example.html"><img class="header-logo" alt="Tupibooru"></a>
        <div>
            <div tabindex="0" class="dropdown themes">
                <a class="default-button"><span class="material-symbols-outlined">palette</span></a>
                <div class="default-window">
                    <button class="default-button selected-theme">Midnight <span
                            class="material-symbols-outlined">check_small</span></button>
                    <button class="default-button">Highnoon</button>
                    <button class="default-button">Minechan</button>
                </div>
            </div>
        </div>
        <nav class="navbar-desktop">
            <ul>
                <li><a class="default-button" href="board_example.html">/bo/ - Boteco</a></li>
                <li><a class="default-button" href="board_example.html">/an/ - Animangá</a></li>
                <li><a class="default-button" href="board_example.html">/jo/ - Jogos e Cultura</a></li>
                <li><a class="default-button" href="board_example.html">/cri/ - Criações</a></li>
                <li><a class="default-button" href="board_example.html">/pc/ - Computarias</a></li>
                <li><a class="default-button" href="board_example.html">/flb/ - Faria Lima Bets</a></li>
                <li tabindex="0" class="dropdown">
                    <a class="default-button">Conta</a>
                    <div class="default-window">
                        <form action="">
                            <section>
                                <a>Login</a>
                            </section>
                            <div>
                                <div class="input">
                                    <span class="material-symbols-outlined">mail</span>
                                    <input type="email" placeholder="Usuário ou Email">
                                </div>
                            </div>
                            <div>
                                <div class="input">
                                    <span class="material-symbols-outlined">key</span>
                                    <input type="password" placeholder="Senha">
                                </div>
                            </div>
                            <section>
                                <button class="default-button">
                                    Logar-se
                                    <span class="material-symbols-outlined">login</span>
                                </button>
                            </section>
                        </form>
                        <section>
                            <a class="underline-button" target="_blank" href="">
                                Esqueceu a senha?
                            </a>
                            •
                            <a class="underline-button" target="_blank" href="register_example.html">
                                Crie uma conta
                            </a>
                        </section>
                    </div>
                </li>
                <li tabindex="0" class="dropdown" style="display: none;">
                    <a class="default-button" href="profile_example.html">Perfil</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="index">
        <article>
            <section class="section-bar">
                <div>F.A.Q - Frequently Asked Questions</div>
            </section>
            <section>
                <ul>
                    <li>
                        <a>Oque é o Tupibooru?</a>
                        <p>Meu site é um lugar que eu (Criador) gostaria de ver e visitar todos os dias, com assuntos
                            interessantes pra mim, sem censuras exageradas, sem um cabal PowerMods ideologicamente
                            adulterando o lugar (Reddit) e sem a necessidade de ficar seguindo uma cultura de pessoas
                            que
                            nem existem mais (Chans), eu quis fazer algo novo, para mim mesmo, e se você também quiser
                            participar de algo assim, então está no lugar certo.</p>
                    </li>
                    <li>
                        <a>Por quê Tupibooru?</a>
                        <p>Eu não queria colocar chan no nome do site, também não é inspirado em coisas como o Tupichan,
                            que eu nem conhecia antes de iniciar esse projeto há uns 2 anos atrás, os índios da minha
                            região (Potiguares) falavam em Tupi, foi basicamente essa minha inspiração.</p>
                    </li>
                    <li>
                        <a>Preciso de uma conta para postar aqui?</a>
                        <p>Não, você pode postar e conversar sem conta, eu prefiro assim, na verdade, amo a ideia de
                            alguém anonimamente contribuindo e sendo julgado pela qualidade de seus posts e não pela sua
                            fama, porém sei que isso é algo bem distante da realidade atual da internet, eu mesmo
                            planejo postar aqui anonimamente.
                        </p>
                    </li>
                    <li>
                        <a>Você tem algo contra NSFW?</a>
                        <p>Longe disso, tenho muitos amigos que são artistas NSFW, e admiro muito o trampo deles, mesmo
                            prezando pela liberdade de expressão, tive que impor um limite a conteúdos
                            pornográficos no interesse de perservar a qualidade do recinto, quem já acessou chans
                            gringos sabe como permitir pornografia estraga um lugar, ainda permito conteúdo ecchi em
                            geral e conteúdo NSFW no /cri/, contanto que sirva um propósito educativo ou seja de sua
                            autoria.
                        </p>
                    </li>
                </ul>
            </section>
        </article>
    </main>
    <footer>
        <section>
            <div class="footer-socials">
                <a href=""><img class="footer-logo" alt="Tupibooru"></a>
            </div>
            <div class="footer-copyright">
                <p>Baseado na engine do&nbsp;<a href="https://github.com/lainsec/rchan" target="_blank">rchan.</a>
                </p>
                <p>© 2025 Rede Autumn.</p>
            </div>
        </section>
        <section>
            <div class="footer-extras">
                <p class="footer-title">Sobre</p>
                <a href="faq_example.html">F.A.Q</a>
                <a href="rules_example.html">Regras</a>
            </div>
        </section>
    </footer>

    <script type="module" src="../../static/js/example-loader.js"></script>
</body>

</html>