<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../static/css/midnight.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <header>
        <a href="index_example.html"><img class="header-logo" alt="Tupibooru"></a>
        <div>
            <div tabindex="0" class="dropdown themes">
                <a class="default-button"><span class="material-symbols-outlined">palette</span></a>
                <div class="default-window">
                    <button class="default-button selected-theme">Midnight <span
                            class="material-symbols-outlined">check_small</span></button>
                    <button class="default-button">Highnoon</button>
                    <button class="default-button">Minechan</button>
                    <button class="default-button">Snowfall</button>
                </div>
            </div>
        </div>
        <nav class="navbar-desktop">
            <ul>
                <li><a class="default-button" href="board_example.html">/bo/ - Boteco</a></li>
                <li><a class="default-button" href="board_example.html">/an/ - Animangá</a></li>
                <li><a class="default-button" href="board_example.html">/jo/ - Jogos e Cultura</a></li>
                <li><a class="default-button" href="board_example.html">/cri/ - Criações</a></li>
                <li><a class="default-button" href="board_example.html">/pc/ - Computarias</a></li>
                <li><a class="default-button" href="board_example.html">/flb/ - Faria Lima Bets</a></li>
                <li tabindex="0" class="dropdown">
                    <a class="default-button">Conta</a>
                    <div class="default-window">
                        <form action="">
                            <section>
                                <a>Login</a>
                            </section>
                            <div>
                                <div class="input">
                                    <span class="material-symbols-outlined">mail</span>
                                    <input type="email" placeholder="Usuário ou Email">
                                </div>
                            </div>
                            <div>
                                <div class="input">
                                    <span class="material-symbols-outlined">key</span>
                                    <input type="password" placeholder="Senha">
                                </div>
                            </div>
                            <section>
                                <button class="default-button">
                                    Logar-se
                                    <span class="material-symbols-outlined">login</span>
                                </button>
                            </section>
                        </form>
                        <section>
                            <a class="underline-button" target="_blank" href="">
                                Esqueceu a senha?
                            </a>
                            •
                            <a class="underline-button" target="_blank" href="register_example.html">
                                Crie uma conta
                            </a>
                        </section>
                    </div>
                </li>
                <li tabindex="0" class="dropdown" style="display: none;">
                    <a class="default-button" href="profile_example.html">Perfil</a>
                </li>
            </ul>
        </nav>
    </header>
    <main class="index">
        <article>
            <section class="section-bar">
                <div>Doações para despesas mensais</div>
                <div>
                    <button class="default-button">
                        Doe Aqui! <img src="../../static/imgs/decoration/ko-fi.png" alt="">
                    </button>
                </div>
            </section>
            <section>
                <p>Porque hostear um site não é de graça.</p>
            </section>
        </article>

        <article>
            <section class="section-bar">
                <div>Em alta</div>
            </section>
            <section>
                <div class="trending">
                    <a href="board_example.html">/bo/ - Boteco</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
                <div class="trending">
                    <a href="board_example.html">/an/ - Animangá</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
                <div class="trending">
                    <a href="board_example.html">/jo/ - Jogos e Cultura</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
                <div class="trending">
                   <a href="board_example.html">/cri/ - Criações</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
                <div class="trending">
                    <a href="board_example.html">/pc/ - Computarias</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
                <div class="trending">
                    <a href="board_example.html">/flb/ - Faria Lima Bets</a>
                    <a href="thread1_example.html">
                        <img src="../../static/imgs/examples/expost1.png" alt="">
                        <p>Título do Post</p>
                        <pre>Este é um post de exemplo.
Possui um único anexo.</pre>
                    </a>
                </div>
            </section>
        </article>
    </main>
    <footer>
        <section>
            <div class="footer-socials">
                <a href=""><img class="footer-logo" alt="Tupibooru"></a>
            </div>
            <div class="footer-copyright">
                <p>Baseado na engine do&nbsp;<a href="https://github.com/lainsec/rchan" target="_blank">rchan.</a>
                </p>
                <p>© 2025 Rede Autumn.</p>
            </div>
        </section>
        <section>
            <div class="footer-extras">
                <p class="footer-title">Sobre</p>
                <a href="faq_example.html">F.A.Q</a>
                <a href="rules_example.html">Regras</a>
            </div>
        </section>
    </footer>

    <script type="module" src="../../static/js/example-loader.js"></script>
</body>

</html>