<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="../../static/css/midnight.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" />
</head>
<body>
    <main>
        <div class="default-window">
            <form action="">
                <p>Login</p>
                <section class="input">
                    <span class="material-symbols-outlined">mail</span>
                    <input type="text" placeholder="Usuário ou Email">
                </section>
                <section class="input">
                    <span class="material-symbols-outlined">key</span>
                    <input type="password" placeholder="Senha">
                </section>
                <section>
                    <button class="default-button">Logar-se
                        <span class="material-symbols-outlined">login</span>
                    </button>
                </section>
            </form>
            <section>
                <a class="underline-button" target="_blank" href="">Esqueceu a senha?</a>
                            •
                <a class="underline-button" href="register_example.html">Crie uma conta</a>
            </section>
        </div>
        <button class="underline-button return" onclick="window.history.go(-1); return false;">
            Fuck, go back!
        </button>
    </main>
</body>
</html>